<template>
    <div>
        <div class="flex flex-wrap justify-center sm:justify-start bg-grey-lightest" v-if="product">
            <div class="w-1/2 text-center">
                <figure>
                    <figcaption class="text-center">
                        <h1>{{ product.title }}</h1>
                    </figcaption>
                    <img :src="product.image" alt="Product Image" class="pt-2 w-1/2" />
                </figure>
            </div>
            <div class="w-1/2 text-center">
                <h1>Detalhes do Produto</h1>
                <div class="text-left">
                    <p class="pt-8"><b>Nome:</b> {{ product.title }}</p>
                    <p class="pt-8"><b>Descrição:</b> {{ product.description }}</p>
                    <p class="pt-8"><b>Raridade:</b> {{ product.rarity }}</p>
                    <p class="pt-8"><b>Preço:</b> R$ {{ formatPrice(product.price) }}</p>
                    <p class="pt-8">
                        <b>Quantidade:</b>
                        <m-input-number v-model="quantity" :min="1" :max="10" />
                        <m-button class="py-2 px-4" @click="addToCart">
                            Adicionar ao carrinho
                        </m-button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { getById as getProduct } from '@/services/products';
import MInputNumber from '@/components/MInputNumber';
import MButton from '@/components/MButton';
import priceMixin from '@/mixins/price';

export default {
    name: 'product-details',
    mixins: [priceMixin],
    data() {
        return {
            quantity: 1,
            product: null,
        };
    },
    created() {
        getProduct(this.$route.params.productId)
            .then(response => {
                this.product = response.data;
            })
            .catch(() => {
                this.product = null;
            });
    },
    methods: {
        addToCart() {
            const quantity = Number.parseInt(this.quantity, 10);
            if (quantity) {
                this.$store.commit('addToCart', {
                    productId: this.$route.params.productId,
                    quantity,
                });
            }
        },
    },
    components: {
        MInputNumber,
        MButton,
    },
};
</script>
