<template>
    <div>
        <div class="flex flex-wrap justify-center">
            <div class="pb-4 pt-4" v-if="products.length === 0">
                <h4>Nenhum produto encontrado</h4>
            </div>

            <product v-for="product in products" :key="product.id" v-bind="product"> </product>
        </div>
        <ul class="flex flex-wrap justify-center list-reset rounded w-auto font-sans">
            <li>
                <button class="block hover:bg-grey text-blue px-3 py-2" @click="decrementPage">
                    <<
                </button>
            </li>
            <li>
                <button class="block hover:bg-grey text-blue px-3 py-2" @click="incrementPage">
                    >>
                </button>
            </li>
        </ul>
    </div>
</template>

<script>
import Product from '@/components/Product';

export default {
    name: 'product-list',
    components: {
        Product,
    },
    data() {
        return {
            page: 1,
        };
    },
    methods: {
        getAllProductsPaginated() {
            this.$store.dispatch('loadProducts', {
                _page: this.page,
                _extraParams: {
                    q: this.searchTerm,
                    _limit: 6,
                },
            });
        },
        incrementPage() {
            this.page++;
            this.getAllProductsPaginated();
        },
        decrementPage() {
            if (this.page > 1) {
                this.page--;
                this.getAllProductsPaginated();
            }
        },
    },
    computed: {
        products() {
            return this.$store.state.products;
        },
        searchTerm() {
            return this.$store.state.searchTerm;
        },
    },
};
</script>
