<template>
    <div id="app" class="text-grey-darkest relative">
        <header
            class="w-full h-16 bg-indigo-darker text-grey-lighter flex justify-between fixed pin-t"
        >
            <div class="pl-4 flex items-center">
                <button
                    class="uppercase text-white"
                    @click="$router.push({ name: 'product-list' })"
                >
                    Tenda TCG
                </button>
            </div>
            <div class="mt-4 w-1/2 h-8">
                <input
                    v-model="searchTerm"
                    class="w-full h-full rounded-lg"
                    type="text"
                    placeholder="Pesquisar produto pelo título ou descrição"
                    @keyup="search"
                />
            </div>
            <cart-indicator></cart-indicator>
        </header>
        <main class="container mx-auto px-4 pt-20">
            <cart></cart>
            <router-view></router-view>
        </main>
        <footer class="w-full p-8 leading-loose">
            <div class="md:text-center text-sm mb-8">
                Tenda TCG - 2019
            </div>
        </footer>
    </div>
</template>

<script>
import Cart from '@/components/Cart';
import CartIndicator from '@/components/CartIndicator';
import ProductList from '@/components/ProductList';

export default {
    name: 'app',
    components: {
        Cart,
        CartIndicator,
        ProductList,
    },
    data() {
        return {
            searchTerm: null,
        };
    },
    created() {
        this.$store.dispatch('loadProducts', {
            _page: 1,
            _extraParams: {
                _limit: 6,
            },
        });
    },
    methods: {
        search() {
            this.$store.dispatch('loadProducts', {
                searchTerm: this.searchTerm,
                _page: 1,
                _extraParams: {
                    q: this.searchTerm,
                },
            });
        },
    },
};
</script>

<style lang="sass">
@import './assets/scss/styles.scss';
</style>
